@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@font-face {
  font-family: 'MoonHouse';
  src: url('assets/fonts/moonhouse.eot');
  src: url('assets/fonts/moonhouse.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/moonhouse.ttf') format('truetype');
}

.display-none {
  display: none !important;
}

button {
  cursor: pointer;
}

input,
select,
.ng2-smart-action span,
.breadcrumb,
.pagination,
.page-link,
.badge,
.card,
.card-header,
.modal-content,
button {
  border-radius: 0 !important;
}

app-grid {
  display: flex;
}

label.control-label {
  font-weight: 500;

  &.required {
    &:after {
      content: ' *';
      font-size: 0.95rem;
      vertical-align: top;
      color: #ff0000;
      font-weight: 800;
    }
  }
}

button, select, input {
  &:disabled {
    cursor:not-allowed;
    opacity: 0.45 !important;
  }
}

.ngx-datatable {
  min-width: 700px;

  .datatable-header {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    height: auto !important;
  }

  .datatable-header-cell {
    font-size: 14px !important;
    font-weight: bold !important;
    white-space: normal !important;
    padding: 0.45rem 1.2rem !important;
  }

  .datatable-scroll,
  .datatable-header-inner {
    width: 100% !important;
  }

  .datatable-body-row,
  .datatable-row-center,
  .datatable-header-inner {
    align-items: center !important;
  }

  .datatable-row-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  .datatable-body-cell {
    font-size: 1rem !important;
    vertical-align: middle !important;
    padding: 0.45rem 1.2rem !important;
  }

  .empty-row {
    padding: 0.45rem 1.2rem !important;
    line-height: 40px;
  }

  .btn {
    margin: 0.175rem 0.5rem 0.175rem 0 !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  .badge,
  .btn {
    font-size: 75% !important;
    padding: 0.25rem 0.5rem !important;
    line-height: 1.5 !important;
    vertical-align: middle !important;
  }
}

// .wrapper-inner {
//   padding: 48px 0 !important;
// }

.card-body {
  hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

.badge-warning {
  color: #fff !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: visible !important;
  .mat-dialog-title {
    padding: 10px 15px;
    background-color: #002433;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
  }
  .mat-dialog-content {
    margin: 0;
    flex: 1 1 auto;
    padding: 1rem;
  }
  .mat-dialog-actions {
    margin: 0;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .btn-primary {
    background: #002433;
  }
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.loader-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.5s, opacity 0.3s linear;
  -moz-transition: visibility 0.5s, opacity 0.3s linear;
  transition: visibility 0.5s, opacity 0.3s linear;
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
  .loader-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .loader {
      position: relative;
      display: block;

      img {
        width: 150px;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
  &:hover {
    background: #cccccc;
  }
  &:active {
    background: #888888;
  }
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
  &:hover {
    background: #666666;
  }
  &:active {
    background: #333333;
  }
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 575px) {
  .app {
    &.sidebar-fixed {
      .main-content,
      .app-footer {
        padding-left: 25px !important;
      }
    }
  }
}
